# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
gcp-credentials.json

# Database & Instances
instance/
*.db

# Assets & Uploads
uploads/*
!uploads/.gitkeep

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
